html {
    height: 100%;
}

body, #root {
    min-height: 100%;
}

.react-flow .react-flow__handle {
    width: 11px;
    height: 11px;
}

.react-flow .react-flow__handle-top {
    top: -8px;
}

.react-flow .react-flow__handle-bottom {
    bottom: -8px;
}

.react-flow .react-flow__handle-left {
    left: -14px;
}

.react-flow .react-flow__handle-right {
    right: -14px;
}

.react-flow .react-flow__panel {
    margin: 0;
}
